@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-logoprimary: #3d9970;
    --color-logosecondary: #528265;
    --color-logoprimaryrgb: 61 153 112;
    --color-logosecondaryrgb: 82 130 101;
  }
  html {
    font-family: Lato, system-ui, sans-serif;
  }
  body {
    @apply bg-white;
    @apply dark:bg-black;
  }

  header,
  main,
  footer {
    @apply bg-zinc-50;
    @apply text-zinc-600;
    @apply dark:bg-zinc-900;
    @apply dark:text-zinc-200;
  }

  main {
    @apply flex-1;
    @apply: overflow-y-auto;
  }
}
